IDD_ADDTASKDIALOG DIALOGEX 0, 0, 200, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Task"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        1001,7,7,186,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,143,29,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,7,29,50,14
END